# Environment variables
.env

# Virtual environment directory
myenv/

# Python cache
**/__pycache__/
*.py[cod]

# system files
.DS_Store

#

plan.txt
req_id.txt

# Ignore specific Bivvy and Cursor files
.bivvy/abcd-climb.md
.bivvy/abcd-moves.json
.cursor/rules/bivvy.mdc

